<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    {% if session.username %}
        Logged in as <b>{{ session.username }}</b> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
    {% endif %}
</nav>

<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p style="color: green;">{{ msg }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>
